* {
	padding: 0;
	margin: 0;
}
a, h1{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: solid 2px crimson;
    font-size: 1.5rem;
    margin-top: 30px;
}
a{
    display: inline;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: solid 2px crimson;
    font-size: 1.5rem;
    margin-top: 30px;
    transition: 3s ease backgroud-color;

}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#home{
    background-color: black;
}
a:hover{
    background-color: crimson;
    color: white;
}

img{
    width: 100%;
    height: 100%;
    transition: all 0.7s ease;

}
.image_container1{
    height: 250px;
    width: 250px;
    margin: 50px;
    background-color: aquamarine;
}

.image_container2{
    height: 250px;
    width: 250px;
    margin: 50px;
    background-color: blue;
}
.image_container3{
    height: 250px;
    width: 250px;
    margin: 50px;
    background-color: yellow;
}
img:hover{
    transform: scale(1.1);
}